Repository windingtree/mvp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore: 🤖 Initial commit
  README.md
Due: prettier --write

chore: 🤖 Added workspaces config
  pnpm-workspace.yaml
Due: none

docs: ✏️ Added basic use-cases
  docs/index.md
Due: prettier --write

chore: 🤖 Minor style fixes
  docs/index.md
Due: prettier --write

docs: ✏️ Added Node specification (not finished yet)
  docs/index.md
  docs/node-spec.md
Due: prettier --write

docs: ✏️ Updated node-spec doc
  docs/node-spec.md
Due: prettier --write

chore: 🤖 Style fixes
  docs/node-spec.md
Due: prettier --write

feat: migrate node-api package from sdk
  packages/node-api/CHANGELOG.md
  packages/node-api/README.md
  packages/node-api/package.json
  packages/node-api/src/client.ts
  packages/node-api/src/constants.ts
  packages/node-api/src/index.ts
  packages/node-api/src/router/admin.ts
  packages/node-api/src/router/deals.ts
  packages/node-api/src/router/index.ts
  packages/node-api/src/router/service.ts
  packages/node-api/src/router/user.ts
  packages/node-api/src/router/utils.ts
  packages/node-api/src/server.ts
  packages/node-api/tsconfig-build.json
  packages/node-api/tsconfig.json
  packages/node-api/tsup.config.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

docs: ✏️ Updated suppliers Dapp spec
  docs/dapp-supplier-spec.md
Due: prettier --write

chore: 🤖 Initial mvp-dapp-supplier commit
  package.json
  packages/dapp-supplier/.env.example
  packages/dapp-supplier/index.html
  packages/dapp-supplier/package.json
  packages/dapp-supplier/public/vite.svg
  packages/dapp-supplier/src/App.tsx
  packages/dapp-supplier/src/components/ConfigForm.tsx
  packages/dapp-supplier/src/components/DealCheckInOut.tsx
  packages/dapp-supplier/src/components/DealSeek.tsx
  packages/dapp-supplier/src/components/Deals.tsx
  packages/dapp-supplier/src/components/LoginWidget.tsx
  packages/dapp-supplier/src/components/Supplier.tsx
  packages/dapp-supplier/src/components/Tabs.tsx
  packages/dapp-supplier/src/components/UserRegister.tsx
  packages/dapp-supplier/src/components/UserUpdate.tsx
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/src/vite-env.d.ts
  packages/dapp-supplier/tsconfig.json
  packages/dapp-supplier/vite.config.ts
  packages/shared/index.ts
  packages/shared/package.json
  packages/shared/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: migrate node example package from sdk
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Server migrated from examples of SDK
  .gitignore
  README.md
  lerna.json
  package.json
  packages/dapp-supplier/.env.example
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/vite.config.ts
  packages/server/package.json
  packages/server/src/index.ts
  packages/server/tsconfig.json
  packages/shared/.env.example
  packages/shared/README.md
  packages/shared/index.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

chore: 🤖 Added lint-staged config
  .husky/pre-commit
  .lintignore
  .lintstagedrc
  package.json
  packages/dapp-supplier/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

Update package.json
  packages/node/package.json
Due: none

chore: 🤖 UPdated deps in node package
  packages/node/package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 Updated gitignore
  .gitignore
Due: none

chore: 🤖 Implemented dev start for server and node
  .gitignore
  package.json
  packages/node/package.json
  packages/node/src/index.ts
  packages/server/package.json
  packages/server/src/index.ts
  packages/shared/index.ts
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Base layout and WalletConnect
  packages/dapp-supplier/index.html
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/App.tsx
  packages/dapp-supplier/src/components/LoginWidgetOLD.tsx
  packages/dapp-supplier/src/components/SupplierOLD.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabPanel.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabs.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabsConfig.ts
  packages/dapp-supplier/src/components/Tabs.tsx
  packages/dapp-supplier/src/config/routes.tsx
  packages/dapp-supplier/src/layouts/Header.tsx
  packages/dapp-supplier/src/layouts/Main.tsx
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/src/pages/HomePage.tsx
  packages/dapp-supplier/src/pages/SupplierPage.tsx
  packages/dapp-supplier/vite.config.ts
  packages/shared/index.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added supplier's entity registration tab
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/components/Supplier.tsx
  packages/dapp-supplier/src/components/SupplierOLD.tsx
  packages/dapp-supplier/src/components/SupplierRegister.tsx
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/src/pages/SupplierPage.tsx
  packages/node/src/index.ts
  packages/shared/index.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added supplier's entity view and LIF deposit add feat
  package.json
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/components/AddressBalance.tsx
  packages/dapp-supplier/src/components/DepositBalance.tsx
  packages/dapp-supplier/src/components/LifBalance.tsx
  packages/dapp-supplier/src/components/Supplier.tsx
  packages/dapp-supplier/src/components/SupplierManage.tsx
  packages/dapp-supplier/src/components/SupplierRegister.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabPanel.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabs.tsx
  packages/dapp-supplier/src/components/SupplierView.tsx
  packages/dapp-supplier/src/hooks/usePermit.ts
  packages/dapp-supplier/src/hooks/useProtocolConfig.ts
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/src/utils/format.ts
  packages/node/package.json
  packages/server/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added `success` message to registration and deposit ft
  packages/dapp-supplier/src/components/Supplier.tsx
  packages/dapp-supplier/src/components/SupplierManage/AddDeposit.tsx
  packages/dapp-supplier/src/components/SupplierManage/SupplierManage.tsx
  packages/dapp-supplier/src/components/SupplierRegister.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added change signer and entity toggle features
  packages/dapp-supplier/src/components/AddressBalance.tsx
  packages/dapp-supplier/src/components/DepositBalance.tsx
  packages/dapp-supplier/src/components/NoSupplierAlert.tsx
  packages/dapp-supplier/src/components/SupplierManage/AddDeposit.tsx
  packages/dapp-supplier/src/components/SupplierManage/ChangeSigner.tsx
  packages/dapp-supplier/src/components/SupplierManage/SupplierManage.tsx
  packages/dapp-supplier/src/components/SupplierManage/ToggleEntity.tsx
  packages/dapp-supplier/src/components/SupplierRegister.tsx
  packages/dapp-supplier/src/components/SupplierView.tsx
  packages/dapp-supplier/src/hooks/useEntity.ts
  packages/dapp-supplier/src/hooks/usePermit.ts
Due: prettier --write --ignore-unknown, eslint --fix

fix: 🐛 Fixed menu titles
  packages/dapp-supplier/src/components/Header.tsx
  packages/dapp-supplier/src/config/routes.tsx
  packages/dapp-supplier/src/layouts/Main.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added Node configuration page
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/components/ConfigForm.tsx
  packages/dapp-supplier/src/components/Header.tsx
  packages/dapp-supplier/src/components/SupplierManage/NodeConfig.tsx
  packages/dapp-supplier/src/components/SupplierManage/SupplierRegister.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabsConfig.ts
  packages/dapp-supplier/src/config/routes.tsx
  packages/dapp-supplier/src/pages/SupplierPage.tsx
  packages/dapp-supplier/src/pages/SupplierSetup.tsx
  packages/node/src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added base functional of the supplier's Dapp
  packages/dapp-supplier/OLD/LoginWidgetOLD.tsx
  packages/dapp-supplier/OLD/SupplierOLD.tsx
  packages/dapp-supplier/OLD/SupplierPage.tsx
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/components/Auth/AdminRegister.tsx
  packages/dapp-supplier/src/components/Auth/Login.tsx
  packages/dapp-supplier/src/components/Auth/Logout.tsx
  packages/dapp-supplier/src/components/Auth/UserRegister.tsx
  packages/dapp-supplier/src/components/Auth/UserUpdate.tsx
  packages/dapp-supplier/src/components/Auth/Welcome.tsx
  packages/dapp-supplier/src/components/SupplierManage/AddDeposit.tsx
  packages/dapp-supplier/src/components/SupplierManage/NodeConfig.tsx
  packages/dapp-supplier/src/components/SupplierManage/SupplierView.tsx
  packages/dapp-supplier/src/components/UserRegister.tsx
  packages/dapp-supplier/src/components/UserUpdate.tsx
  packages/dapp-supplier/src/config/routes.tsx
  packages/dapp-supplier/src/pages/AuthPage.tsx
  packages/dapp-supplier/src/pages/HomePage.tsx
  packages/dapp-supplier/src/pages/SupplierSetupPage.tsx
  packages/dapp-supplier/tsconfig.json
  packages/node/package.json
  packages/node/src/index.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

chore: 🤖 Added airplanes router (not finished yet)
  docs/node-spec.md
  packages/dapp-supplier/OLD/SupplierPage.tsx
  packages/dapp-supplier/OLD/SupplierPageOLD.tsx
  packages/dapp-supplier/package.json
  packages/dapp-supplier/tsconfig.json
  packages/node/package.json
  packages/node/src/api/airplanesRoute.ts
  packages/node/src/index.ts
  packages/node/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix, prettier --write

feat: 🎸 Added working airlines router for node-api
  package.json
  packages/dapp-supplier/package.json
  packages/node/package.json
  packages/node/src/api/airplanesRoute.ts
  packages/node/src/index.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Updated airlines API router
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/components/Auth/AdminRegister.tsx
  packages/dapp-supplier/src/components/Auth/Login.tsx
  packages/dapp-supplier/src/components/Auth/UserRegister.tsx
  packages/dapp-supplier/src/components/Auth/UserUpdate.tsx
  packages/dapp-supplier/src/components/Header.tsx
  packages/dapp-supplier/src/components/SupplierManage/SupplierRegister.tsx
  packages/node/package.json
  packages/node/src/api/airplanesRoute.ts
  packages/node/src/index.ts
  packages/node/tsconfig.json
  packages/node/tsup.config.ts
  packages/server/package.json
  packages/shared/.env.example
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added basic airoplane form with Gallery
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/components/Airplanes/AddAirplane.tsx
  packages/dapp-supplier/src/components/Airplanes/Gallery.tsx
  packages/dapp-supplier/src/components/Airplanes/type.ts
  packages/dapp-supplier/src/components/ErrorBoundary.tsx
  packages/dapp-supplier/src/components/SupplierManage/IpfsConfig.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabsConfig.ts
  packages/dapp-supplier/src/config/routes.tsx
  packages/dapp-supplier/src/hooks/useIpfs.ts
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/src/pages/SupplierSetupPage.tsx
  packages/dapp-supplier/src/utils/images.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Implemented an airplane configuration form
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/App.tsx
  packages/dapp-supplier/src/components/Airplanes/AddAirplane.tsx
  packages/dapp-supplier/src/components/Airplanes/CoinSelector.tsx
  packages/dapp-supplier/src/components/Airplanes/Gallery.tsx
  packages/dapp-supplier/src/components/Airplanes/Prices.tsx
  packages/dapp-supplier/src/components/Airplanes/type.ts
  packages/dapp-supplier/src/components/Header.tsx
  packages/dapp-supplier/src/hooks/useProtocolConfig.ts
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/src/routes.tsx
  packages/dapp-supplier/tsconfig.json
  packages/node/src/index.ts
  packages/shared/index.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown, eslint --fix

chore: new config class and move node logic from index.ts to nodeConroller.ts
  packages/node/src/common/config.ts
  packages/node/src/controllers/nodeController.ts
  packages/node/src/index.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: 🤖 Updated deps
  packages/dapp-supplier/package.json
  packages/node/package.json
  packages/server/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: none

feat: 🎸 Adde auth roles to CustomConfig
  packages/dapp-supplier/src/main.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Updated airlines routes on the Node
  packages/node/src/api/airplanesRoute.ts
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added Airplanes route to the Dapp
  packages/dapp-supplier/src/routes.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added AirplaneMeta type
  packages/dapp-supplier/src/components/Airplanes/type.ts
Due: prettier --write --ignore-unknown, eslint --fix

chore: 🤖 Reformated Header component
  packages/dapp-supplier/src/components/Header.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added auth-related components to the supplier dapp
  packages/dapp-supplier/src/components/Auth/Login.tsx
  packages/dapp-supplier/src/components/Auth/RequireAuth.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added components for user and admin registration
  packages/dapp-supplier/src/components/Auth/AdminRegister.tsx
  packages/dapp-supplier/src/components/Auth/UserRegister.tsx
Due: prettier --write --ignore-unknown, eslint --fix

feat: 🎸 Added airplanes management components
  packages/dapp-supplier/src/components/Airplanes/AddAirplane.tsx
  packages/dapp-supplier/src/components/Airplanes/AirplanesList.tsx
  packages/dapp-supplier/src/pages/AirplanesPage.tsx
Due: prettier --write --ignore-unknown, eslint --fix

Path conditions:
  prettier --write --ignore-unknown: any of: *.{ts,tsx,js}
  eslint --fix: any of: *.{ts,tsx,js}
  prettier --write: any of: *.md
