Repository windingtree/mvp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore, prettier --write --ignore-path ./.lintignore

chore: 🤖 Enabled build for "shared" package
  packages/shared/package.json
Due: none

feat: 🎸 Added deployment management scripts
  setup/certbot.sh
  setup/ecosystem.config.js
  setup/git.sh
  setup/nginx.conf
  setup/nginx.sh
  setup/nodejs.sh
  setup/pm2.sh
  setup/renew_ssl.sh
  setup/restart.sh
  setup/start.sh
  setup/stop.sh
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

fix: 🐛 Fixed log file creation in setup scripts
  setup/certbot.sh
  setup/nginx.sh
  setup/nodejs.sh
  setup/pm2.sh
Due: none

refactor: 💡 Multiple deployment scripts updates
  setup/certbot.sh
  setup/deploy.sh
  setup/git.sh
  setup/nginx.conf
  setup/nginx.mvp.conf
  setup/nginx.sh
  setup/nodejs.sh
  setup/paths.sh
  setup/pm2.sh
  setup/renew_ssl.sh
  setup/restart.sh
  setup/start.sh
  setup/stop.sh
Due: none

chore: 🤖 Added server keys generation scripts
  package.json
  pnpm-lock.yaml
  setup/peerKey.js
  setup/serverAddress.js
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

feat: 🎸 Added env.sh script
  setup/env.sh
Due: none

chore: 🤖 Updated deploy.sh
  setup/deploy.sh
Due: none

fix: 🐛 Fixed deploy.sh
  setup/deploy.sh
Due: none

chore: 🤖 Minor scripts cleanup
  setup/deploy.sh
Due: none

refactor: 💡 Enviroment initialization globally changed
  packages/dapp-client/.env.example
  packages/dapp-client/package.json
  packages/dapp-client/src/components/Book.tsx
  packages/dapp-client/src/config.ts
  packages/dapp-client/src/main.tsx
  packages/dapp-client/src/utils/offer.ts
  packages/dapp-client/vite.config.ts
  packages/dapp-supplier/.env.example
  packages/dapp-supplier/package.json
  packages/dapp-supplier/src/components/DepositBalance.tsx
  packages/dapp-supplier/src/components/LifBalance.tsx
  packages/dapp-supplier/src/components/SupplierManage/AddDeposit.tsx
  packages/dapp-supplier/src/components/SupplierManage/ChangeSigner.tsx
  packages/dapp-supplier/src/components/SupplierManage/SupplierRegister.tsx
  packages/dapp-supplier/src/components/SupplierManage/ToggleEntity.tsx
  packages/dapp-supplier/src/config.ts
  packages/dapp-supplier/src/hooks/useEntity.ts
  packages/dapp-supplier/src/hooks/useProtocolConfig.ts
  packages/dapp-supplier/src/main.tsx
  packages/dapp-supplier/vite.config.ts
  packages/node/.env.example
  packages/node/package.json
  packages/node/src/common/config.ts
  packages/node/src/config.ts
  packages/node/src/controllers/nodeController.ts
  packages/node/src/index.ts
  packages/server/.env.example
  packages/server/package.json
  packages/server/src/config.ts
  packages/server/src/index.ts
  packages/server/tsconfig.json
  packages/shared/.env.example
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/utils/index.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

fix: 🐛 Fixed local environment variables detection order
  packages/shared/README.md
  packages/shared/src/utils/index.ts
  setup/www-premissions.sh
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore, prettier --write --ignore-path ./.lintignore

fix: 🐛 Fixed invalid target chain initializator
  packages/dapp-client/src/components/Book.tsx
  packages/dapp-client/src/main.tsx
  packages/dapp-client/src/utils/offer.ts
  packages/dapp-supplier/src/components/DepositBalance.tsx
  packages/dapp-supplier/src/components/LifBalance.tsx
  packages/dapp-supplier/src/components/SupplierManage/AddDeposit.tsx
  packages/dapp-supplier/src/components/SupplierManage/ChangeSigner.tsx
  packages/dapp-supplier/src/components/SupplierManage/SupplierRegister.tsx
  packages/dapp-supplier/src/components/SupplierManage/ToggleEntity.tsx
  packages/dapp-supplier/src/hooks/useEntity.ts
  packages/dapp-supplier/src/hooks/useProtocolConfig.ts
  packages/dapp-supplier/src/main.tsx
  packages/node/src/controllers/nodeController.ts
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

fix: 🐛 Enabled websocket transport for chiado chain
  packages/node/src/controllers/nodeController.ts
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

fix: 🐛 Fixed invalid gnosisChiado config
  packages/dapp-client/src/main.tsx
  packages/shared/src/index.ts
  setup/nginx.mvp.conf
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

chore: 🤖 Added more build commands
  package.json
  setup/deploy.sh
Due: none

chore: 🤖 Updated deployment script
  setup/deploy.sh
Due: none

fix: 🐛 Fixed package name for dapp-client
  packages/dapp-client/package.json
Due: none

fix: 🐛 Fixed invalid config in the Dapp client
  docs/airplanes/Cessna 172 Skyhawk/README.md
  docs/airplanes/Cessna 172 Skyhawk/cessna-cockpit.png
  docs/airplanes/Cessna 172 Skyhawk/cessna-silhouette.png
  docs/airplanes/Cessna 172 Skyhawk/cessna-wheels.png
  docs/airplanes/Cessna 172 Skyhawk/outer-view.png
  docs/airplanes/Cessna 172 Skyhawk/skyward-freedom.png
  docs/airplanes/Cirrus SR22/README.md
  docs/airplanes/Cirrus SR22/cirrus-sr22.png
  docs/airplanes/Cirrus SR22/take-off-cirrus .png
  docs/airplanes/Cirrus SR22/welcoming-skies.png
  docs/airplanes/Piper PA-28 Cherokee/README.md
  docs/airplanes/Piper PA-28 Cherokee/above-forest.png
  docs/airplanes/Piper PA-28 Cherokee/piper-cherokee.png
  docs/airplanes/Piper PA-28 Cherokee/take-off-cherockee.png
  docs/airplanes/README.md
  packages/dapp-client/src/components/Book.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore, prettier --write --ignore-path ./.lintignore

fix: check current block number
  packages/node/src/controllers/nodeController.ts
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

fix: 🐛 Overflow content fix for checkin popup
  packages/dapp-supplier/src/components/CheckIn.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

style: 💄 Minor style update
  packages/dapp-supplier/src/components/CheckIn.tsx
  packages/dapp-supplier/src/components/SupplierTabs/SupplierTabs.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

feat: 🎸 Added leveldb-repair utility
  packages/utils/package.json
  packages/utils/src/repair.js
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

fix: 🐛 Removed invalid db close operation
  packages/node/src/controllers/nodeController.ts
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

chore: 🤖 Overflow hidden for checkIn paper
  packages/dapp-supplier/src/components/CheckIn.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

chore: 🤖 Try to fix overflow issue
  packages/dapp-supplier/src/components/CheckIn.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

feat: 🎸 Added noDescription property to DealView
  packages/dapp-supplier/src/components/CheckIn.tsx
  packages/dapp-supplier/src/components/DealView.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

docs: ✏️ Added "How to prepare" doc
  docs/demo.md
Due: prettier --write --ignore-path ./.lintignore

fix: check current block number
  packages/node/src/controllers/nodeController.ts
  packages/node/src/controllers/storageController.ts
  packages/node/src/types.ts
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

fix: 🐛 Fixed Unknown blockNumber issue
  packages/dapp-client/package.json
  packages/dapp-supplier/package.json
  packages/node/package.json
  packages/node/src/controllers/nodeController.ts
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

refactor: 💡 Reverted vite-plugin-node-polyfills version 0.17.0
  packages/dapp-client/package.json
  packages/dapp-supplier/package.json
  pnpm-lock.yaml
Due: none

chore: 🤖 Updated SDK deps
  packages/dapp-client/package.json
  packages/dapp-supplier/package.json
  packages/node/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: none

Update nodeController.ts
  packages/node/src/controllers/nodeController.ts
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

refactor: 💡 stopHandler declaration moved to top of main
  packages/node/src/controllers/nodeController.ts
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

chore: 🤖 Updated SDK dep
  packages/server/package.json
  pnpm-lock.yaml
Due: none

docs: ✏️ Added the "the mvp purpose" article
  docs/architecture.md
  docs/dev/contract-events.md
  docs/index.md
  docs/mvp-purpose.md
  docs/server-spec.md
  docs/spec/dapp-client-spec.md
  docs/spec/dapp-supplier-spec.md
  docs/spec/node-spec.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added the protocol overview article
  docs/index.md
  docs/protocol.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added the MVP architecture document
  docs/architecture.md
  docs/index.md
Due: prettier --write --ignore-path ./.lintignore

refactor: 💡 Improved scripts for server key and address
  setup/peerKey.js
  setup/serverAddress.js
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

docs: ✏️ Updated root README
  README.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added the "project setup" article
  docs/index.md
  docs/setup.md
Due: prettier --write --ignore-path ./.lintignore

Path conditions:
  prettier --write --ignore-unknown --ignore-path ./.lintignore: any of: *.{ts,tsx,js}
  eslint --fix --ignore-path ./.lintignore: any of: *.{ts,tsx,js}
  prettier --write --ignore-path ./.lintignore: any of: *.md
