Repository windingtree/mvp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore, prettier --write --ignore-path ./.lintignore

.lintstagedrc:

{
  "*.{ts,tsx,js}": [
    "prettier --write --ignore-unknown --ignore-path ./.lintignore",
    "eslint --fix --ignore-path ./.lintignore"
  ],
  "*.md": ["prettier --write --ignore-path ./.lintignore"]
}

docs: ✏️ Added an article about smart contracts implementation
  docs/demo.md
  docs/imp.contracts.md
  docs/index.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added server implementation doc
  docs/imp.server.md
  docs/index.md
Due: prettier --write --ignore-path ./.lintignore

chore: 🤖 Updated docs links
  docs/index.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added an article about the node implementation
  docs/imp.node.md
Due: prettier --write --ignore-path ./.lintignore

chore: 🤖 Updated docs index links
  docs/index.md
Due: prettier --write --ignore-path ./.lintignore

chore: 🤖 Updated docs index
  docs/index.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added an article about airplanes router implementation
  docs/imp.node.md
  docs/imp.node.router.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added an article about the manager's dapp config
  docs/README.md
  docs/assets/dapp-manager-enable.png
  docs/assets/dapp-manager-manage.png
  docs/assets/dapp-manager-node-ipfs.png
  docs/assets/dapp-manager-node-uri.png
  docs/assets/dapp-manager-reg-admin.png
  docs/assets/dapp-manager-reg-user.png
  docs/assets/dapp-manager-register.png
  docs/assets/dapp-manager-review.png
  docs/assets/dapp-manager-rm-user.png
  docs/imp.manager.config.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added an article about the airplanes management
  docs/README.md
  docs/assets/dapp-manager-prop-add.png
  docs/assets/dapp-manager-prop-gal.png
  docs/assets/dapp-manager-prop-list.png
  docs/assets/dapp-manager-prop-price.png
  docs/imp.manager.config.md
  docs/imp.manager.md
  docs/imp.manager.prop.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added manager's Dapp implementation articles
  docs/README.md
  docs/assets/dapp-manager-checkin-qr.png
  docs/assets/dapp-manager-checkin-send.png
  docs/assets/dapp-manager-checkin-start.png
  docs/assets/dapp-manager-qr-cam.png
  docs/assets/dapp-manager-qr-file.png
  docs/imp.manager.checkin.md
  docs/imp.manager.md
  packages/dapp-supplier/src/main.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore, prettier --write --ignore-path ./.lintignore

chore: 🤖 Updated docs index
  docs/README.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added details to the imp.manager.md
  docs/imp.manager.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added an article about the client dapp implementation
  docs/README.md
  docs/imp.client.md
Due: prettier --write --ignore-path ./.lintignore

docs: ✏️ Added client use-cases and scripts documentation
  docs/README.md
  docs/assets/dapp-client-request-booking-done.png
  docs/assets/dapp-client-request-booking-voucher-create.png
  docs/assets/dapp-client-request-booking-voucher-qr.png
  docs/assets/dapp-client-request-booking.png
  docs/assets/dapp-client-request-bookings.png
  docs/assets/dapp-client-request-date.png
  docs/assets/dapp-client-request-offer.png
  docs/assets/dapp-client-request-offers.png
  docs/assets/dapp-client-tours.png
  docs/imp.client.md
  docs/imp.client.usecases.md
  docs/scripts.md
Due: prettier --write --ignore-path ./.lintignore

fix: 🐛 RE-enabled Cancel feature for a Deal
  packages/dapp-client/src/pages/BookingsPage.tsx
Due: prettier --write --ignore-unknown --ignore-path ./.lintignore, eslint --fix --ignore-path ./.lintignore

chore: update queue package version in node
  packages/node/package.json
  pnpm-lock.yaml
Due: none

docs: ✏️ Added notes on decentralization
  docs/README.md
  docs/decentralization.md
Due: prettier --write --ignore-path ./.lintignore

chore: 🤖 Minor docs update
  docs/decentralization.md
Due: prettier --write --ignore-path ./.lintignore

fix: 🐛 Fixed bigint issue in the sdk-queue
  packages/node/package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 Deps update with queue fix
  packages/dapp-client/package.json
  packages/dapp-supplier/package.json
  packages/node/package.json
  pnpm-lock.yaml
Due: none
